{$SERVER} {
    proxy / nextcloud:80 {
        transparent
    }
    gzip
    log stdout
    errors stdout
}

{$SERVER}/aria2 {
    proxy / aria2:80 {
        transparent
    }
    gzip
    log stdout
    errors stdout
}
